@model IEnumerable<MovieViewModel>

@{
    ViewData["Title"] = "SearchResultTitle";
}

<p>
    Your Results: @foreach (var item in Model)
    {
    <p>@item.Title</p>
    <p>@item.Year</p>
    <p>@item.Genre</p>

}</p>
