@model IEnumerable<Lab23.Data.Model.Movie>

@{
    ViewData["Title"] = "SearchResultTitle";
}

<div>
    <h4> Your Results: </h4>
    @foreach (var item in Model)
    {
        <dl class="row">
                <dt class="col-sm-2"> @item.Title </dt>
                <dt class="col-sm-2">@item.Runtime </dt>
                <dt class="col-sm-2">@item.Genre</dt>
         </dl>
    }
    
 </div>
